.preloader-section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background: #fff;
  }
  .preloader-section .preloader-sec{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .preloader-section .preloader-sec .wrapper{
    position: absolute;
    top: -35px;
    transform: scale(1.5);
  }
  .preloader-section .preloader-sec .loader{
    height: 25px;
   width: 1px;
   position: absolute;
   animation: rotate 3.5s linear infinite;
  }
  .preloader-section .preloader-sec .loader .dot{
    top: 30px;
   height: 7px;
   width: 7px;
   background: #46db55;
   border-radius: 50%;
   position: relative;
  }
  .preloader-section .preloader-sec .text{
    position: absolute;
    bottom: -85px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Bold';
    color: #000;
  }
  @keyframes rotate {
    30%{
      transform: rotate(220deg);
    }
    40%{
    transform: rotate(450deg);
      opacity: 1;
   }
   75%{
    transform: rotate(720deg);
    opacity: 1;
   }
   76%{
    opacity: 0;
   }
   100%{
    opacity: 0;
    transform: rotate(0deg);
   }
  }
  .preloader-section .preloader-sec .loader:nth-child(1){
    animation-delay: 0.15s;
  }
  .preloader-section .preloader-sec .loader:nth-child(2){
    animation-delay: 0.3s;
  }
  .preloader-section .preloader-sec .loader:nth-child(3){
    animation-delay: 0.45s;
  }
  .preloader-section .preloader-sec .loader:nth-child(4){
    animation-delay: 0.6s;
  }
  .preloader-section .preloader-sec .loader:nth-child(5){
    animation-delay: 0.75s;
  }
  .preloader-section .preloader-sec .loader:nth-child(6){
    animation-delay: 0.9s;
  }